*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

section.portfolio-home{
    background: url("/My-Portfolio/images/Home.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    max-width: 1920px;
    height: 100vh;
}

section.portfolio-home-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    z-index: 4;
    position: relative;
}

section.portfolio-home .portfolio-home-lastlayer, .portfolio-home-firstlayer{
    max-width: 498px;
    height: 638px;
}

section.portfolio-home .portfolio-home-lastlayer{
    background: #F6BB3A;
    z-index: 3;
}
/*
section.portfolio-home .portfolio-home-firstlayer{
    z-index: 3;
}*/