
@import url('https://fonts.googleapis.com/css2?family=Liu+Jian+Mao+Cao&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jomolhari&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=KoHo:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul li{
  list-style: none;
}

section.portfolio-home {
  background: url("/My-Portfolio/images/Home.jpg");
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}

.portfolio-home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  position: relative;
}

.portfolio-home-firstlayer,
.portfolio-home-lastlayer,
.portfolio-home-border
 {
  width: 498px;
  height: 638px;
  position: absolute;
}

.portfolio-home-lastlayer {
  background: #F6BB3A;
  z-index: 1;
}

.portfolio-home-firstlayer {
  background: #F4C464;
  z-index: 2;
  transform: translate(40px, -40px);
}

.portfolio-home-border{
border: dashed 6px #000;
  padding: 80px;
transform: translate(20px, 20px);
  z-index: 3;
}

section.portfolio-home h1{
    font-size: 80px;
    font-weight: 200;
}

section.portfolio-home p{
  font-family: "Jomolhari", serif;
  font-weight: 100;
  font-style: normal;
}

section.portfolio-home .portfolio-home-desc{
    font-size: 32px;
     padding: 0 100px;
     max-width: 1500px;
}

section.portfolio-home .portfolio-home-name{
    display: flex;
    align-items: center;
    padding: 0 100px;
}


section.portfolio-home ul {
     display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

section.portfolio-home ul li{
    font-size: 32px;
}

section.portfolio-home .portfolio-home-name > div{
width: 100%;
max-width: 342px;
border: none;
border-bottom: 2px solid #000;
margin-left: 3rem;
}

section.portfolio-home .portfolio-home-text{
    position: relative;
    bottom: 20rem;
    margin-top: 5rem;
}

section.portfolio-home .portfolio-home-subtitle{
     display: flex;
     justify-content: center;
    align-items: center;
    padding: 0 100px;
     position: relative;
    bottom: 30rem;
}



section.portfolio-home .portfolio-home-subtitle > p{
    font-size: 40px;
  font-family: "Liu Jian Mao Cao", cursive;
  font-weight: 400;
  font-style: normal;
  z-index: 5;
  margin-left: 40rem;
}

section.portfolio-home .portfolio-home-backtext{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top:30rem;
}

section.portfolio-home .portfolio-home-backtext > p{
 font-family: "Kalam", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  max-width: 610px;
  margin-left: 25rem;
}



@media(max-width: 1390px){
section.portfolio-home .portfolio-home-name{
    flex-direction: column;
}
}

@media(max-width:1450px){
section.portfolio-home .portfolio-home-name, section.portfolio-home .portfolio-home-desc{
position: relative;
top: 15rem;
}
}

@media(max-width:1300px){
  
  section.portfolio-home .portfolio-home-subtitle > p{
    margin-left: 0;
    text-align: center;
  }
}

@media(max-width:1300px){
  section.portfolio-home .portfolio-home-subtitle{
    bottom:2rem;
  }
}

@media(max-width:575px){
  section.portfolio-home .portfolio-home-desc{
    text-align: center !important;
  }
}

@media(max-width:1000px){
section.portfolio-home h1{
    text-align: center !important;
  }
}

/* projects */

section.portfolio-projects{
  width: 100%;
  background: #381407;
}

.portfolio-projects-message{
  min-height: 561px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
} 

.portfolio-projects-message span, .portfolio-projects-desc h1{
  font-size: 96px;
font-family: "Jomolhari", serif;
}

.portfolio-projects-message p{
  font-size: 36px;
  font-family: "Kalam", cursive;
  color: white;
}

.portfolio-projects-container{
  display: flex;
  gap: 3rem;
  margin-bottom: 5rem;
  @media(max-width:991px){
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.portfolio-projects-image > img{
  position: absolute;
  width: 100%;
  height: 100%;
  
}

.portfolio-projects-image > img:first-of-type{
   @media(max-width:1500px){
   display: none;
   }
}
.portfolio-projects-image > img:nth-last-of-type{
   @media(min-width:1500px){
   display: none;
   }
}

.portfolio-projects-image{
  position: relative;
  width: 50%;
  background: white;
  min-height: 563px;
  
   @media(max-width:991px){
    flex-direction: column;
    width:90%;
   }
  
}
.portfolio-projects-desc{
  width: 50%;
  color: white;
  @media(max-width:991px){
    padding: 3rem;
     width:100%;
   
  }
}



   
  


.portfolio-projects-desc > p{
  font-size: 32px;

}


.portfolio-projects-desc > p:first-of-type{
 font-family: "Kalam", cursive;
}

.portfolio-projects-links > ul li{
font-family: "KoHo", sans-serif;
}

.portfolio-projects-links > button, .portfolio-contact .portfolio-contact-btncontainer > button{
  padding: 5px 20px 5px 20px;
  background: transparent;
  border: white solid 3px;
  border-radius: 50px;
 cursor: pointer;
}
.portfolio-projects-links > button{
 color: white;
}

.portfolio-projects-links > button a, .portfolio-contact .portfolio-contact-btncontainer > button a{
 display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  gap:2rem;
  }
  .portfolio-projects-links > button a{
 color: white;
  }

  .portfolio-contact .portfolio-contact-btncontainer > button a{
    color:#000 !important;
  }

  .portfolio-svg path{
    fill: black;
  }

.portfolio-projects-links{
  justify-content: space-between;
  display: flex;
  border: none;
  border-top: white solid 1px;
  padding-top: 2rem;
  margin-top: 1rem;
  margin-right: 3rem;
}

.portfolio-projects-other{
  display: flex;
  justify-content: center;
  align-items: center;
  padding:5rem;
  color: white;
}

.portfolio-projects-othercontent:last-of-type{
padding-bottom: 3rem;
}

.portfolio-projects-other > p, .portfolio-projects-othercontent > p{
  font-size: 32px;
}

.portfolio-projects-othertitle > p:first-of-type, .portfolio-projects-othercontent > p:first-of-type {
  width:20%;
  display: flex;
  justify-content: center;
}
.portfolio-projects-othertitle > p:nth-of-type(2), .portfolio-projects-othercontent > a{
  width: 20%;
  display: flex;
  justify-content: center;
}
.portfolio-projects-othertitle > p:nth-of-type(3), .portfolio-projects-othercontent > p:nth-of-type(3){
  width: 60%;
  display: flex;
  justify-content: center;
}

.portfolio-projects-othertitle{
  display: flex;
 border: none;
 border-bottom: 1px solid rgba(255, 255, 255, 0.34);
 padding-bottom: 10px;
 
}

.portfolio-projects-othercontent{
  display: flex;
  margin-top: 1rem;
}

.portfolio-projects-othercontent p, .portfolio-projects-othertitle p, .portfolio-projects-othertitle a{
  color: white;
}


section.portfolio-contact{
  background: #F3C56A;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: center;
  align-items: center;
}

.portfolio-contact p{
  font-size: 32px;
 font-family: "KoHo", sans-serif;
}
.portfolio-contact h1{
  font-size: 96px;
   font-family: "Jomolhari", serif;
}

.portfolio-contact-btncontainer{
  display: flex;
  gap: 2rem;
}

footer{
  background: #584208;
  min-height: 228px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: white;
}

footer p, footer div{
  width: 100%;
}

footer .portfolio-footer-subtitle{
  font-size: 48px;
   font-family: "Liu Jian Mao Cao", cursive;
   display: flex;
   justify-content: center;
 margin-top: 5rem;
}

.portfolio-footer-links{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.portfolio-footer-links > p:nth-of-type(2){
display: flex;
justify-content: end;
margin-right: 1rem;
}

.portfolio-footer-links > p:first-of-type{
margin-left: 1rem;
}

@media(max-width:767px){
  .portfolio-contact h1{
    text-align: center;
  }
  .portfolio-contact-btncontainer{
    flex-direction: column;
  }
}

@media(max-width: 575px){
  .portfolio-home-border{
    padding: 0;
  }
      .portfolio-contact h1, .portfolio-projects-message span, .portfolio-projects-desc h1{
        font-size: 80px;
      }
      .portfolio-home-container,.portfolio-home-firstlayer, .portfolio-home-lastlayer, .portfolio-home-border, .portfolio-home-firstlayer, .portfolio-home-lastlayer, section.portfolio-home .portfolio-home-backtext > p{
        display: none !important;
      }
      section.portfolio-home .portfolio-home-subtitle{
        bottom: 0;
      }
      section.portfolio-home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
      }

      .portfolio-home-name h1{
        margin-bottom: 1rem;
      }
      section.portfolio-home .portfolio-home-name > div {
        margin: 0;
      }
      section.portfolio-home ul{
        margin-top: 1rem;
        margin-bottom: 5rem;
      }
      .portfolio-projects-message p{
        text-align: center;
      }
}